#openai-forge {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  line-height: 1;
  position: fixed;
  right: 0;
  top: 0;
  user-select: none;
  width: 224px;
}

#openai-forge * {
  box-sizing: border-box;
}

#openai-forge .header {
  align-items: center;
  background-color: #e52b50;
  color: white;
  display: flex;
  font-weight: 700;
  height: 24px;
  padding: 0 6px 2px;
}

#openai-forge .body {
  align-items: center;
  background-color: #222222;
  color: white;
  display: flex;
  font-size: 90%;
  height: 26px;
  padding: 0 6px 0;
}
#openai-forge .body.has-error {
  background-color: #fc3623;
}
